<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li>
      <span><%= link_to t("admin.dashboard"), admin_root_path %></span>
    </li>
    <li>
      <span><%= link_to t("admin.subject.manage_subject"), "#" %></span>
      <%= link_to t("admin.subject.add_subject"), new_admin_subject_path %>
      <%= link_to t("admin.subject.subjects"), admin_subjects_path %>
    </li>
    <li>
      <span><%= link_to t("admin.question.manage_question"), "#" %></span>
      <%= link_to t("admin.question.add_question"), new_admin_question_path %>
      <%= link_to t("admin.question.questions"), admin_questions_path %>
    </li>
    <li>
      <span><%= link_to t("admin.user.manage_user"), "#" %></span>
      <%= link_to t("admin.user.users"), admin_users_path %>
    </li>
    <li>
      <span><%= link_to t("admin.exam.exam_manage"), "#" %></span>
      <%= link_to t("admin.exam.show_all_exam"), admin_exams_path %>
    </li>
  </ul>
</div>
